In [1]:
# import all necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# load the dataset into a dataframe
df = pd.read_csv('Unicorn_Companies.csv')

# confirm that the dataset is properly read
df.head()

,Company,Valuation,Date Joined,Industry,City,Country,Continent,Year Founded,Funding,Select Investors
0,Bytedance,$180B,2017-04-07,Artificial intelligence,Beijing,China,Asia,2012,$8B,"Sequoia Capital China, SIG Asia Investments, S..."
1,SpaceX,$100B,2012-12-01,Other,Hawthorne,United States,North America,2002,$7B,"Founders Fund, Draper Fisher Jurvetson, Rothen..."
2,SHEIN,$100B,2018-07-03,E-commerce & direct-to-consumer,Shenzhen,China,Asia,2008,$2B,"Tiger Global Management, Sequoia Capital China..."
3,Stripe,$95B,2014-01-23,Fintech,San Francisco,United States,North America,2010,$2B,"Khosla Ventures, LowercaseCapital, capitalG"
4,Klarna,$46B,2011-12-12,Fintech,Stockholm,Sweden,Europe,2005,$4B,"Institutional Venture Partners, Sequoia Capita..."

## Assessing Data
In this section, detect and document at least **quality and tidiness issues** using visual assessment programmatic assessement to assess the data.

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1074 entries, 0 to 1073
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Company           1074 non-null   object
 1   Valuation         1074 non-null   object
 2   Date Joined       1074 non-null   object
 3   Industry          1074 non-null   object
 4   City              1058 non-null   object
 5   Country           1074 non-null   object
 6   Continent         1074 non-null   object
 7   Year Founded      1074 non-null   int64
 8   Funding           1074 non-null   object
 9   Select Investors  1073 non-null   object
dtypes: int64(1), object(9)
memory usage: 84.0+ KB

In [4]:
df.shape

(1074, 10)

In [5]:
df.duplicated().sum()

0

In [6]:
df.describe()

       Year Founded
count   1074.000000
mean    2012.895717
std        5.698573
min     1919.000000
25%     2011.000000
50%     2014.000000
75%     2016.000000
max     2021.000000

### Quality issues
1. Valuation column is not in a proper format and datatype

2. Funding column is not in a proper format and datatype; Incorrect value in funding column : 'Unknown'

3. Incorrect datatype for Date Joined column

4. All columns have improper naming convention

### Tidiness issues
1. Multiple values in Select Investors column

## Cleaning Data

#### Define : Rename the columns to follow the proper naming convention

#### Code

In [7]:
# rename column
df.rename(columns  = {'Company' : 'company', 'Valuation' : 'valuation', 'Date Joined' : 'date_joined', 'Industry' : 'industry', 
        'City' : 'city', 'Country' : 'country', 'Continent' : 'continent', 'Year Founded' : 'year_founded', 
        'Funding' : 'funding', 'Select Investors' : 'select_investors'}, inplace = True)

#### Test

In [8]:
df.sample()

,company,valuation,date_joined,industry,city,country,continent,year_founded,funding,select_investors
308,Ironclad,$3B,2022-01-18,Internet software & services,Sacramento,United States,North America,2014,$334M,"Accel, Sequoia Capital, Y Combinator"

In [9]:
df['industry'].unique()
# two unique values of 'Artificial intelligence detected'
df['industry'] = df['industry'].str.replace('Artificial intelligence', 'Artificial Intelligence')

In [10]:
df['industry'].unique()

array(['Artificial Intelligence', 'Other',
       'E-commerce & direct-to-consumer', 'Fintech',
       'Internet software & services',
       'Supply chain, logistics, & delivery', 'Consumer & retail',
       'Data management & analytics', 'Edtech', 'Health', 'Hardware',
       'Auto & transportation', 'Travel', 'Cybersecurity',
       'Mobile & telecommunications'], dtype=object)

#### Define : Convert the 'B' and 'M' indicating Billions and Millions respectively to zeroes
Replace all 'Unknown' in funding with the NaN values
#### Code

In [11]:
# confirm that values in funding column contains only M and B
df.valuation.unique()

array(['$180B', '$100B', '$95B', '$46B', '$40B', '$39B', '$38B', '$33B',
       '$32B', '$27B', '$25B', '$22B', '$20B', '$18B', '$17B', '$15B',
       '$14B', '$13B', '$12B', '$11B', '$10B', '$9B', '$8B', '$7B', '$6B',
       '$5B', '$4B', '$3B', '$2B', '$1B'], dtype=object)

In [12]:
# check all rows where funding is unknown
df.query("funding == 'Unknown'")

,company,valuation,date_joined,industry,city,country,continent,year_founded,funding,select_investors
215,SSENSE,$4B,2021-06-08,E-commerce & direct-to-consumer,Montreal,Canada,North America,2003,Unknown,Sequoia Capital
424,Uplight,$2B,2021-03-03,Other,Boulder,United States,North America,2019,Unknown,"Rubicon Technology Partners, Max Ventures, Inc..."
567,ISN,$2B,2020-12-17,"Supply chain, logistics, & delivery",Dallas,United States,North America,2001,Unknown,Blackstone
639,SITECH DEV,$1B,2019-05-16,Other,Guiyang,China,Asia,2017,Unknown,China Prosperity Capital
651,Xiaobing,$1B,2021-07-12,Fintech,Beijing,China,Asia,2020,Unknown,"NetEase Capital, Northern Light Venture Capita..."
717,Veepee,$1B,2007-07-02,E-commerce & direct-to-consumer,La Plaine Saint-Denis,France,Europe,2001,Unknown,"Summit Partners, Qatar Holding"
733,DistroKid,$1B,2021-08-16,Internet software & services,New York,United States,North America,2013,Unknown,"Insight Partners, Silversmith Capital Partners..."
866,Assembly,$1B,2021-09-21,Internet software & services,Culver City,United States,North America,2019,Unknown,"Advent International, PSG, Providence Equity P..."
890,Carson Group,$1B,2021-07-14,Fintech,Lincoln,United States,North America,2012,Unknown,Bain Capital
945,Iodine Software,$1B,2021-12-01,Data management & analytics,Austin,United States,North America,2010,Unknown,"Advent International, Bain Capital Ventures, S..."
947,Kendra Scott,$1B,2016-12-21,Consumer & retail,Austin,United States,North America,2002,Unknown,"Berkshire Partners, Norwest Venture Partners"
1002,Poizon,$1B,2019-04-29,Mobile & telecommunications,Shanghai,China,Asia,2015,Unknown,"DST Global, Sequoia Capital China, Gaorong Cap..."

In [13]:
# replace '$', 'M' and 'B' with appropraite characters for funding column
df['funding'] = df['funding'].str.replace('B', '000000000')
df['funding'] = df['funding'].str.replace('M', '000000')
df['funding'] = df['funding'].str.replace('$', '')
df['funding'] = df['funding'].replace('Unknown', np.nan)

# replace '$', 'M' and 'B' with appropraite characters for valuation column
df['valuation'] = df['valuation'].str.replace('B', '000000000')
df['valuation'] = df['valuation'].str.replace('M', '000000')
df['valuation'] = df['valuation'].str.replace('$', '')

C:\Users\Sofiyah\AppData\Local\Temp\ipykernel_15520\915947254.py:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['funding'] = df['funding'].str.replace('$', '')
C:\Users\Sofiyah\AppData\Local\Temp\ipykernel_15520\915947254.py:10: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['valuation'] = df['valuation'].str.replace('$', '')

#### Test

In [14]:
# check all rows where funding is unknown for change
df.query("funding == 'Unknown'")

Empty DataFrame
Columns: [company, valuation, date_joined, industry, city, country, continent, year_founded, funding, select_investors]
Index: []

#### Define : Convert funding and valuation columns into proper datatypes

#### Code

In [15]:
df['funding'] = pd.to_numeric(df['funding'])

df['valuation'] = pd.to_numeric(df['valuation'])