In [2]:
# import libraries
import pandas as pd
import numpy as np
import seaborn as sb

In [3]:
# load dataset
df = pd.read_csv('CardioGoodFitness.csv')
# display dataset
df.head()

  Product  Age  Gender  Education MaritalStatus  Usage  Fitness  Income  Miles
0   TM195   18    Male         14        Single      3        4   29562    112
1   TM195   19    Male         15        Single      2        3   31836     75
2   TM195   19  Female         14     Partnered      4        3   30699     66
3   TM195   19    Male         12        Single      3        3   32973     85
4   TM195   20    Male         13     Partnered      4        2   35247     47