In [1]:
import pandas as pd
import numpy as np
import seaborn as sb
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('cars.csv')
df.head()

,VehicleID,Location,Maker,Model,Year,Colour,Amount (Million Naira),Type,Distance
0,VHL12546,Abuja,Honda,Accord Coupe EX V-6,"2,011",Silver,2.2,Nigerian Used,NaN
1,VHL18827,Ibadan,Hyundai,Sonata,"2,012",Silver,3.5,Nigerian Used,"125,000"
2,VHL19499,Lagos,Lexus,RX 350,"2,010",Red,9.2,Foreign Used,"110,852"
3,VHL17991,Abuja,Mercedes-Benz,GLE-Class,"2,017",Blue,22.8,Foreign Used,"30,000"
4,VHL12170,Ibadan,Toyota,Highlander,"2,002",Red,2.6,Nigerian Used,"125,206"

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7205 entries, 0 to 7204
Data columns (total 9 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   VehicleID               7205 non-null   object
 1   Location                7205 non-null   object
 2   Maker                   7205 non-null   object
 3   Model                   7205 non-null   object
 4   Year                    7184 non-null   object
 5   Colour                  7205 non-null   object
 6   Amount (Million Naira)  7188 non-null   float64
 7   Type                    7008 non-null   object
 8   Distance                4845 non-null   object
dtypes: float64(1), object(8)
memory usage: 506.7+ KB

In [4]:
df.shape

(7205, 9)

In [5]:
df.duplicated().sum()

0

In [6]:
df.isnull().sum()

VehicleID                    0
Location                     0
Maker                        0
Model                        0
Year                        21
Colour                       0
Amount (Million Naira)      17
Type                       197
Distance                  2360
dtype: int64

In [7]:
df['Year'] = df['Year'].str.replace(',', '')
df['Distance'] = df['Distance'].str.replace(',', '')

In [8]:
df['Distance'] = df['Distance'].fillna(df['Distance'].median())
df['Year'] = df['Year'].fillna(df['Year'].median())
df['Type'] = df['Type'].fillna(method = 'ffill')
df['Amount (Million Naira)'] = df['Amount (Million Naira)'].fillna(df['Amount (Million Naira)'].mean())

In [9]:
df.isnull().sum()

VehicleID                 0
Location                  0
Maker                     0
Model                     0
Year                      0
Colour                    0
Amount (Million Naira)    0
Type                      0
Distance                  0
dtype: int64

In [10]:
df['Year'] = df['Year'].astype(int)
df['Distance'] = df['Distance'].astype(float)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7205 entries, 0 to 7204
Data columns (total 9 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   VehicleID               7205 non-null   object
 1   Location                7205 non-null   object
 2   Maker                   7205 non-null   object
 3   Model                   7205 non-null   object
 4   Year                    7205 non-null   int32
 5   Colour                  7205 non-null   object
 6   Amount (Million Naira)  7205 non-null   float64
 7   Type                    7205 non-null   object
 8   Distance                7205 non-null   float64
dtypes: float64(2), int32(1), object(6)
memory usage: 478.6+ KB

In [12]:
df.drop(['VehicleID'], axis = 1, inplace = True)

In [13]:
num_col = ['Year', 'Amount (Million Naira)', 'Distance']
# cat_col = df.select_dtypes(include = ['object', 'category']).columns
cat_col = [col for col in df.columns if col not in num_col]
cat_col

['Location', 'Maker', 'Model', 'Colour', 'Type']

In [14]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

le = LabelEncoder()
for col in cat_col:
    df[col] = le.fit_transform(df[col])

df.head()

,Location,Maker,Model,Year,Colour,Amount (Million Naira),Type,Distance
0,0,17,117,2011,16,2.2,2,80830.0
1,1,19,1049,2012,16,3.5,2,125000.0
2,2,29,908,2010,15,9.2,1,110852.0
3,0,34,508,2017,2,22.8,1,30000.0
4,1,52,569,2002,15,2.6,2,125206.0

## MODELLING

In [45]:
pip install catboost

Collecting catboostNote: you may need to restart the kernel to use updated packages.

  Downloading catboost-1.1.1-cp39-none-win_amd64.whl (74.0 MB)
     ---------------------------------------- 74.0/74.0 MB 3.0 MB/s eta 0:00:00
Collecting plotly
  Downloading plotly-5.11.0-py2.py3-none-any.whl (15.3 MB)
     ---------------------------------------- 15.3/15.3 MB 3.0 MB/s eta 0:00:00
Requirement already satisfied: matplotlib in c:\users\sofiyah\anaconda3\lib\site-packages (from catboost) (3.5.1)
Collecting graphviz
  Downloading graphviz-0.20.1-py3-none-any.whl (47 kB)
     --------------------------------------- 47.0/47.0 kB 69.3 kB/s eta 0:00:00
Requirement already satisfied: pandas>=0.24.0 in c:\users\sofiyah\anaconda3\lib\site-packages (from catboost) (1.4.2)
Requirement already satisfied: six in c:\users\sofiyah\anaconda3\lib\site-packages (from catboost) (1.16.0)
Requirement already satisfied: numpy>=1.16.0 in c:\users\sofiyah\anaconda3\lib\site-packages (from catboost) (1.21.5)
Requirement already satisfied: scipy in c:\users\sofiyah\anaconda3\lib\site-packages (from catboost) (1.7.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\sofiyah\anaconda3\lib\site-packages (from pandas>=0.24.0->catboost) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\sofiyah\anaconda3\lib\site-packages (from pandas>=0.24.0->catboost) (2021.3)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\sofiyah\anaconda3\lib\site-packages (from matplotlib->catboost) (4.25.0)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\sofiyah\anaconda3\lib\site-packages (from matplotlib->catboost) (3.0.4)
Requirement already satisfied: pillow>=6.2.0 in c:\users\sofiyah\anaconda3\lib\site-packages (from matplotlib->catboost) (9.0.1)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\sofiyah\anaconda3\lib\site-packages (from matplotlib->catboost) (1.3.2)
Requirement already satisfied: packaging>=20.0 in c:\users\sofiyah\anaconda3\lib\site-packages (from matplotlib->catboost) (21.3)
Requirement already satisfied: cycler>=0.10 in c:\users\sofiyah\anaconda3\lib\site-packages (from matplotlib->catboost) (0.11.0)
Collecting tenacity>=6.2.0
  Downloading tenacity-8.1.0-py3-none-any.whl (23 kB)
Installing collected packages: tenacity, graphviz, plotly, catboost
Successfully installed catboost-1.1.1 graphviz-0.20.1 plotly-5.11.0 tenacity-8.1.0

In [48]:
pip install xgboost

Collecting xgboostNote: you may need to restart the kernel to use updated packages.
  Downloading xgboost-1.7.1-py3-none-win_amd64.whl (89.1 MB)

     ---------------------------------------- 89.1/89.1 MB 1.9 MB/s eta 0:00:00
Requirement already satisfied: scipy in c:\users\sofiyah\anaconda3\lib\site-packages (from xgboost) (1.7.3)
Requirement already satisfied: numpy in c:\users\sofiyah\anaconda3\lib\site-packages (from xgboost) (1.21.5)
Installing collected packages: xgboost
Successfully installed xgboost-1.7.1

In [50]:
pip install svm

Collecting svmNote: you may need to restart the kernel to use updated packages.
  Downloading svm-0.1.0.tar.gz (3.4 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: requests in c:\users\sofiyah\anaconda3\lib\site-packages (from svm) (2.27.1)

Requirement already satisfied: colorama in c:\users\sofiyah\anaconda3\lib\site-packages (from svm) (0.4.4)
Collecting xmltodict
  Downloading xmltodict-0.13.0-py2.py3-none-any.whl (10.0 kB)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\sofiyah\anaconda3\lib\site-packages (from requests->svm) (2022.9.24)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\sofiyah\anaconda3\lib\site-packages (from requests->svm) (1.26.9)
Requirement already satisfied: idna<4,>=2.5 in c:\users\sofiyah\anaconda3\lib\site-packages (from requests->svm) (3.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\sofiyah\anaconda3\lib\site-packages (from requests->svm) (2.0.4)
Building wheels for collected packages: svm
  Building wheel for svm (setup.py): started
  Building wheel for svm (setup.py): finished with status 'done'
  Created wheel for svm: filename=svm-0.1.0-py3-none-any.whl size=3483 sha256=8ccf85b7e01d5708badf768e8bde550a136b3ce86dada49965653eb608f5d13f
  Stored in directory: c:\users\sofiyah\appdata\local\pip\cache\wheels\38\1e\67\e4fe09dd9a91d94fb9f7cadee4199cfd8f5616a66359c7e733
Successfully built svm
Installing collected packages: xmltodict, svm
Successfully installed svm-0.1.0 xmltodict-0.13.0

In [17]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingRegressor
from catboost import CatBoostRegressor
from sklearn.tree import DecisionTreeRegressor
from xgboost import XGBRegressor
from sklearn.svm import SVR
from sklearn.neighbors import KNeighborsRegressor
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Ridge

from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error

In [18]:
# split data into predictors and y
x = df.drop('Amount (Million Naira)', axis = 1)
y = df['Amount (Million Naira)']

In [ ]:
# split data into training and test set
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 42)